<div class="container-fluid mt-3">
   <div class="compare-search-container d-flex">


     <div ngbDropdown>
         <button type="button" class="btn btn-light" id="region-dropdown" ngbDropdownToggle>
             {{selectedRegion.name}}
         </button>
         <div ngbDropdownMenu aria-labelledby="region-dropdown">
             <button (click)="selectRegion(item)" *ngFor="let item of regions" class="nav-link px-3" ngbDropdownItem>{{item.name}}</button>
         </div>
     </div>

      <div class="input-container position-relative">
         <i class="bi bi-search"></i>
         <input (keydown)="onEnter($event)" [(ngModel)]="inputText" type="text" class="form-control" placeholder="{{placeholder}}">
      </div>


      <div class="challenge-list d-flex position-relative">
         <span class="label">Challenges: </span>
         <input (keydown)="newTable($event)" [(ngModel)]="challenges" type="text" class="form-control" placeholder="Challenge IDs">
      </div>



   </div>
   <table class="table">
      <thead>
         <tr>
            @for (item of tableHeader; track item) {
               <th scope="col">{{item}}</th>
            }
         </tr>
      </thead>
      <tbody>

            @for (userData of usersData;  let index = $index; track userData) {
               <tr class="player" (click)="delete(index)">
                  @for (item of userData;  let index = $index; track item) {
                     @if (item && !item.level) {
                       <td>{{item}}</td>
                     } @else if (!item) {
                       <td style="color: #ff4b4b">UNRANKED</td>
                     } @else{
                        <td [ngStyle]="{'color': item.level == 'MASTER' || item.level == 'GRANDMASTER' || item.level == 'CHALLENGER' ? '#00a500' : '#ff4b4b' }">
                           {{item.level}}<br>
                           <span *ngIf="!(item.level == 'MASTER' || item.level == 'GRANDMASTER' || item.level == 'CHALLENGER')"> ({{item.value}} / {{item.masterThreshold}} )</span>
                        </td>
                     }
                  }
               </tr>
            }
            @empty {
             <tr class="empty"><td style="text-align: center;font-size: 20px;" [attr.colspan]="tableHeader.length">Enter usernames to start comparing</td></tr>
            }

      </tbody>
   </table>




</div>

