<div class="container-fluid mt-3">
   <div class="compare-search-container d-flex">
      <div style="width: 20%" class="position-relative">
         <i style="position: absolute;left: 9px;font-size: 20px; top: 5px; color: white;" class="bi bi-search"></i>
         <input (keydown)="onEnter($event)" [(ngModel)]="inputText" type="text" class="form-control" placeholder="{{placeholder}}">
      </div>


      <div style="width: 70%; margin-left: 20px; align-items: center;" class="d-flex position-relative">
         <span style="color: white; margin-right: 8px">Challenges: </span>
         <input (keydown)="newTable($event)" [(ngModel)]="challenges" type="text" class="form-control" placeholder="Challenge IDs">
      </div>



   </div>
   <table class="table">
      <thead>
         <tr>
            @for (item of tableHeader; track item) {
               <th scope="col">{{item}}</th>
            }
         </tr>
      </thead>
      <tbody>

            @for (userData of usersData;  let index = $index; track userData) {
               <tr class="player" (click)="delete(index)">
                  @for (item of userData;  let index = $index; track item) {
                     @if (item && !item.level) {
                       <td>{{item}}</td>
                     } @else if (!item) {
                       <td style="color: #ff4b4b">UNRANKED</td>
                     } @else{
                        <td [ngStyle]="{'color': item.level == 'MASTER' || item.level == 'GRANDMASTER' || item.level == 'CHALLENGER' ? '#00a500' : '#ff4b4b' }">
                           {{item.level}}<br>
                           <span *ngIf="!(item.level == 'MASTER' || item.level == 'GRANDMASTER' || item.level == 'CHALLENGER')"> ({{item.value}} / {{item.masterThreshold}} )</span>
                        </td>
                     }
                  }
               </tr>
            }
            @empty {
             <tr class="empty"><td style="text-align: center;font-size: 20px;" [attr.colspan]="tableHeader.length">Enter usernames to start comparing</td></tr>
            }

      </tbody>
   </table>




</div>

