<div class="container-xxl">
	<div class="challenge-selection-container">
		<div ngbDropdown class="mastery-filter d-inline-block">
			<button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
				{{selectedChallenge}}
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<div (click)="selectChallenge('Champion Ocean: 2024 Split 3')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    Champion Ocean: 2024 Split 3
				  </label>
				</div>
				<div (click)="selectChallenge('Champion Ocean')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    Champion Ocean
				  </label>
				</div>
				<div (click)="selectChallenge('Adapt to All Situations')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    Adapt to All Situations
				  </label>
				</div>
				<div (click)="selectChallenge('All Random All Champions')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    All Random All Champions
				  </label>
				</div>
				<div (click)="selectChallenge('Perfectionist')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    Perfectionist
				  </label>
				</div>
				<div (click)="selectChallenge('Same Penta, Different Champ')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    Same Penta, Different Champ
				  </label>
				</div>
				<div (click)="selectChallenge('Protean Override')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    Protean Override
				  </label>
				</div>
				<div (click)="selectChallenge('Invincible')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    Invincible
				  </label>
				</div>
				<div (click)="selectChallenge('Jack of All Champs')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    Jack of All Champs
				  </label>
				</div>
				<div (click)="selectChallenge('All Random All Champs: 2024 Split 1')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    All Random All Champs: 2024 Split 1
				  </label>
				</div>
				<div (click)="selectChallenge('All Random All Champions: 2022')" ngbDropdownItem>
				  <label class="form-check-label" for="defaultCheck1">
				    All Random All Champions: 2022
				  </label>
				</div>
			</div>
		</div>
		<div class="desc">
			{{fixedDesc || championsChecklistData[selectedChallenge].description}}
		</div>
		<div class="text-center">
			<h1 [style.color]="rankColor" class="current-rank">
				{{rank}}
			</h1>
			<h2 class="current-progress">{{score}} <span *ngIf="nextUpgrade">/</span> {{nextUpgrade}}</h2>
		</div>
	</div>
	<div class="checklist-container">
		<div class="d-flex justify-content-between align-items-center">
			<input (keyup)="textChanged($event)" [(ngModel)]="searchText" type="text" class="champ-search form-control" placeholder="Search champion">


			<div class="role-container">
				<span [ngClass]="{'selected': selectedLane == 'TOP'}" class="role-option top">
				<img (click)="selectLane('TOP')" src="/assets/roles/top.svg"/>
				</span>
				<span [ngClass]="{'selected': selectedLane == 'JUNGLE'}" class="role-option jg">
				<img (click)="selectLane('JUNGLE')" src="/assets/roles/jg.svg"/>
				</span>

				<span [ngClass]="{'selected': selectedLane == 'MID'}" class="role-option mid">
				<img (click)="selectLane('MID')" src="/assets/roles/mid.svg"/>
				</span>
				<span [ngClass]="{'selected': selectedLane == 'ADC'}" class="role-option bot">
				<img (click)="selectLane('ADC')" src="/assets/roles/bot.svg"/>
				</span>
				<span [ngClass]="{'selected': selectedLane == 'SUPPORT'}" class="role-option sup">
				<img (click)="selectLane('SUPPORT')" src="/assets/roles/sup.svg"/>
				</span>
			</div>
			<div>
				<i  ngbTooltip="Hide finished champions" [ngClass]="{'active': toggleHideChecked}" (click)="toggleHideCheckedClicked()" class="bi bi-eye-slash-fill"></i>
				<i  ngbTooltip="Undo" [ngClass]="{'active': lastClicked}" (click)="undo()" class="bi bi-arrow-counterclockwise"></i>
			</div>
		</div>
		<div class="champions-container">
	    @for (item of championsChecklistData[selectedChallenge].data | championFilter:searchText:selectedLane; track item) {
	    	<div [hidden]="toggleHideChecked && item.checked" [ngClass]="{'checked': item.checked}" (click)="champClicked(item)" class="position-relative champion-item">
	    		<i class="bi bi-check-circle-fill position-absolute"></i>
	    		<img src="https://ddragon.leagueoflegends.com/cdn/15.14.1/img/champion/{{item.id}}.png"/>
	    		<h5>{{ item.name }}</h5>

	    	</div>
	    }
		</div>
	</div>
</div>

