.challenge-selection-container {
	background: #0a0218eb;
    border-radius: 12px;
    margin-top: 24px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .desc {
    	font-size: 22px;
    	color: gold;
    }

    .current-rank {
    	font-size: 24px;
    	margin-bottom: 0;
    }
    .current-progress {
    	font-size: 20px;
    	color: white;
    }
}

.role-option {
    img {
        width: 26px;
        margin: 12px;
        border-width: 0 0 2px 0;
        border-style: solid;
        padding-bottom: 12px;
        cursor: pointer;
        border-color: transparent;
    }
}

.role-option:hover {
    filter: brightness(1.5);
    img {
        border-color: #ffffff54;
    }
}

.role-option.selected {
    img {
        border-color: #ffd700ba;
    }
}

.bi {
    font-size: 24px;
    margin: 12px;
    color: white;
    cursor: pointer;
    opacity: .4;

    &.active {
    	opacity: .8;
    }
    &:hover {
    	opacity: 1;
    }
}


.bi.bi-check-circle-fill{
    color: #0bc7b9;
    opacity: 1;
    right: -22px;
    top: -26px;
    display: none;
}

.checklist-container {

	background: #0a0218eb;
    border-radius: 12px;
    margin-top: 12px;
    padding: 12px;

    .champ-search {
    	margin: 12px;
    	width: 200px;
    }

	.champions-container {
		flex-wrap: wrap;
		display: flex;
	}
}

.champion-item {
    color: #fff;
    width: 10%;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 1%;
    text-align: center;

    &.checked {

        .bi.bi-check-circle-fill{
            color: #0bc7b9;
            opacity: 1;
            right: -17px;
            top: -21px;
            display: inline;
            z-index: 1;
        }

        img {
            filter: brightness(0.3);
        }

    }

    img {
	    width: 100%;
	    border: 1px solid #85858559;
	    margin-bottom: 8px;
    }
}

@media (max-width: 992px) {
	.challenge-selection-container {
	    .desc {
	    	font-size: 12px;
	    }
	}
}

@media (max-width: 720px) {


	.champion-item {

		width: 15%;

	    img {
		    width: 100%;
		    border: 1px solid #85858559;
		    margin-bottom: 8px;
	    }


	    h5 {
	    	font-size: 13px;
	    }
	}

	.role-container {
		display: none;
	}

    .desc {
    	display: none;
    }
}