<h2>{{item.name}}</h2>

<div class="img-wrapper">
	<img src="https://ddragon.leagueoflegends.com/cdn/14.10.1/img/champion/{{item.name}}.png"/>
</div>

@if (lastPlayed) {
	<h6 class="last-played">{{item.lastPlayTime  | date:'shortDate' }}</h6>
} @else {
	@if (item.tokensEarned > 0) {
		<div class="tokens-container">
			<span *ngIf="item.tokensEarned > 0" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 1" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 2" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 3" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 4" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 5" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 6" class="mark-token">✦</span>
		</div>
	} @else {
		<hr class="no-tokens"/>
	}
}

<div class="milestones">
	<i class="bi" [ngClass]="{'bi bi-0-circle-fill': item.championSeasonMilestone == 0, 'bi-0-circle': item.championSeasonMilestone != 0}"></i><hr/>
	<i class="bi" [ngClass]="{'bi bi-1-circle-fill': item.championSeasonMilestone == 1, 'bi-1-circle': item.championSeasonMilestone != 1}"></i><hr/>
	<i class="bi" [ngClass]="{'bi bi-2-circle-fill': item.championSeasonMilestone == 2, 'bi-2-circle': item.championSeasonMilestone != 2}"></i><hr/>
	<i class="bi" [ngClass]="{'bi bi-3-circle-fill': item.championSeasonMilestone == 3, 'bi-3-circle': item.championSeasonMilestone != 3}"></i><hr/>
	<i class="bi" [ngClass]="{'bi bi-4-circle-fill': item.championSeasonMilestone == 4, 'bi-4-circle': item.championSeasonMilestone != 4}"></i><hr/>
	<i class="bi" [ngClass]="{'bi bi-5-circle-fill': item.championSeasonMilestone == 5, 'bi-5-circle': item.championSeasonMilestone != 5}"></i>

</div>

<h4 [style.color]="masteryColor">Mastery {{item.championLevel}}</h4>


@if (catchemAllMode) {
	<h2>{{item.championPoints.toLocaleString()}}</h2>
	<div class="progress-box">
		<div [style.width]="progressPercentCatchMode" class="inner-bar"></div>
	</div>
	<div class="progress-text">{{item.championPoints.toLocaleString()}}/{{catchNextUpgrade.toLocaleString()}}</div>
} @else {
	<h2>{{item.championPoints.toLocaleString()}}</h2>
	<div class="progress-box">
		<div [style.width]="progressPercent" class="inner-bar"></div>
	</div>
	<div class="progress-text">{{item.championPointsSinceLastLevel.toLocaleString()}}/{{pointsRequired.toLocaleString()}}</div>
}

