<div class="tags">
	@for (role of item.roles; track role) {
		<img *ngIf="role == 'Assassin'" src="/assets/tags/assassin.svg"/>
		<img *ngIf="role == 'Fighter'" src="/assets/tags/fighter.svg"/>
		<img *ngIf="role == 'Mage'" src="/assets/tags/mage.svg"/>
		<img *ngIf="role == 'Marksman'" src="/assets/tags/marksman.svg"/>
		<img *ngIf="role == 'Support'" src="/assets/tags/support.svg"/>
		<img *ngIf="role == 'Tank'" src="/assets/tags/tank.svg"/>
	}
</div>

<i [ngClass]="{'d-none': item.focus}" (click)="toggleFocus()" class="bi bi-star"></i>
<i [ngClass]="{'d-none': !item.focus}" (click)="toggleFocus()" class="bi bi-star-fill"></i>



<h2>{{item.displayName}}</h2>

<div class="img-wrapper">
	<img src="https://ddragon.leagueoflegends.com/cdn/15.14.1/img/champion/{{item.name}}.png"/>
</div>

@if (lastPlayed) {
	<h6 class="last-played">
		@if (item.lastPlayTime < 0) {
			<span>Unplayed</span>
		} @else {
			{{item.lastPlayTime  | date:'shortDate' }}
		}
	</h6>
} @else {
	@if (item.tokensEarned > 0) {
		<div class="tokens-container">
			<span *ngIf="item.tokensEarned > 0" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 1" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 2" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 3" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 4" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 5" class="mark-token">✦</span>
			<span *ngIf="item.tokensEarned > 6" class="mark-token">✦</span>
		</div>
	} @else {
		<hr class="no-tokens"/>
	}
}

<div class="grades d-flex">
	@for (item of requiredGrades;  track item.index) {
		<div [ngClass]="{'completed': item.completed}" class="grade">{{ item.grade }}</div>
	} 
</div>

<div *ngIf="item.championSeasonMilestone < 4" class="milestones d-flex">

	<div class="milestone"  [ngClass]="{
		'passed': item.championSeasonMilestone > 0,
		'reached': item.championSeasonMilestone == 0,
	}">
		0
	</div>
	<hr [ngClass]="{
		'passed': item.championSeasonMilestone > 0,
	}"/>
	<div class="milestone" [ngClass]="{
		'passed': item.championSeasonMilestone > 1,
		'reached': item.championSeasonMilestone == 1,
	}">
		1
	</div>
	<hr [ngClass]="{
		'passed': item.championSeasonMilestone > 1,
	}"/>
	<div class="milestone" [ngClass]="{
		'passed': item.championSeasonMilestone > 2,
		'reached': item.championSeasonMilestone == 2,
	}">
		2
	</div>
	<hr [ngClass]="{
		'passed': item.championSeasonMilestone > 2,
	}"/>
	<div class="milestone" [ngClass]="{
		'passed': item.championSeasonMilestone > 3,
		'reached': item.championSeasonMilestone == 3,
	}">
		3
	</div>
	<hr [ngClass]="{
		'passed': item.championSeasonMilestone > 3,
	}"/>
	<div class="milestone" [ngClass]="{
		'passed': item.championSeasonMilestone > 4,
		'reached': item.championSeasonMilestone == 4,
	}">
		4
	</div>
</div>

<div *ngIf="item.championSeasonMilestone > 3" class="milestones d-flex">

	<div class="milestone reached">
		{{item.championSeasonMilestone}}
	</div>
	<hr>
	<div class="milestone">
		{{item.championSeasonMilestone + 1}}
	</div>
</div>


<h4 [style.color]="masteryColor">Mastery {{item.championLevel}}</h4>


@if (catchemAllMode) {
	<h2>{{item.championPoints.toLocaleString()}}</h2>
	<div class="progress-box">
		<div [style.width]="progressPercentCatchMode" class="inner-bar"></div>
	</div>
	<div class="progress-text">{{item.championPoints.toLocaleString()}}/{{catchNextUpgrade.toLocaleString()}}</div>
} @else {
	<h2>{{item.championPoints.toLocaleString()}}</h2>
	<div class="progress-box">
		<div [style.width]="progressPercent" class="inner-bar"></div>
	</div>
	<div class="progress-text">{{item.championPointsSinceLastLevel.toLocaleString()}}/{{pointsRequired.toLocaleString()}}</div>
}

