h2 {
    color: white;
    font-size: 18px;
}

.img-wrapper {
    display: block;
    border-radius: 50%;
    border: 4px solid black;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin: 0 auto;
    img {
        display: block;
        width: 100%;
        transform: scale(1.15);
    }
}

.tokens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    .mark-token {
        color: #f9e161;
        font-size: 12px;
        width: 16px;
        height: 16px;
        text-align: center;
        display: inline-block;
        background: #2c0080;
        border-radius: 50%;
        line-height: 17px;
        border: 1px solid #FFEB3B;
        margin-right: 2px;
    }
}

.no-tokens {
    width: 26%;
    margin: 17px auto;
    border-top: 2px dashed #252525;
    opacity: 0.5;
}

.grades {
    justify-content: center;
    margin-bottom: 2px;
    .grade {
        background: #000d71;
        color: white;
        width: 20px;
        height: 20px;
        border: 1px solid gray;
        line-height: 20px;
        margin-right: 5px;
        opacity: .5;
        &.completed {
            opacity: 1;
            color: gold;
        }
    }
}

.milestones {
    display: flex;

    align-items: center;
    justify-content: center;

    hr {
    width: 9px;
    border-top: 1px solid black;
    opacity: 0.6;
    }

    .bi-0-circle-fill, .bi-1-circle-fill, .bi-2-circle-fill, .bi-3-circle-fill, .bi-4-circle-fill, .bi-5-circle-fill {
        color: black;
    }

    .reached, {
        color: white;
    }

    hr.reached {
        border-top: 1px solid white;
    }
}

h4 {
    font-size: 19px;
        white-space: nowrap;
}

.points {
    color: #ffc966;
}

.progress-box {
    background: gray;
    height: 28px;
    border-radius: 24px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .inner-bar {
        background: #000c9d94;
        height: 18px;
        border-radius: 12px;
        display: flex;
    flex-direction: column;
    justify-content: center;

    }
}


.progress-text {
    position: absolute;
    width: 100%;
    color: #ffc966;
    bottom: 12px;
    left: 0;
}

.last-played {
    color: #eac58c;
    margin: 9px;
}

@media (max-width: 720px) {

    hr {
        margin: 14px 0;
    }

    h4 {
        font-size: 17px;
    }

    .progress-text {
        font-size: 13px;
    }
        

}
