.challenge-item {
	background: #8fa7ff75;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(6 14 65 / 41%) 0 -4px 0 inset;

    &:hover {
    	background-color: #8fa7ffa6;
        transform: translateY(-2px);
    }

    h4 {
	    color: white;
	    font-size: 11px;
	    text-wrap: nowrap;
    }

    h6 {
    	font-size: 17px;
        margin-bottom: 2px;
    }

    h5 {
	    color: #ffc966;
	    font-size: 16px;
        margin-bottom: 0;
    }
}

.selected {
    background-image: none;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.bi {
    margin-left: 8px;
}

@media (max-width: 720px) {


    .bi-info-circle {
        display: none;
    }


}