<div *ngIf="!challengeLoading && !masteryLoading" class="container-xxl">

	<div class="challenges-container d-flex">
		<challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterYourself"></challenge-item>
		<challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterEnemy"></challenge-item>
		<challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterTank"></challenge-item>
		<challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterMarksman"></challenge-item>
		<challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterSupport"></challenge-item>
		<challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterFighter"></challenge-item>
		<challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterMage"></challenge-item>
		<challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterAssassin"></challenge-item>
	</div>


	<div class="champions-container">


		<div class="filters-container d-flex">
			
			<div ngbDropdown [autoClose]="'outside'" class="mastery-filter d-inline-block">
				<button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
					Mastery Level
				</button>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					<div ngbDropdownItem>
					  <input (change)="levelFilterChanged()" [(ngModel)]="hideM5" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					  <label class="form-check-label" for="defaultCheck1">
					    Hide M5
					  </label>
					</div>
					<div ngbDropdownItem>
					  <input (change)="levelFilterChanged()" [(ngModel)]="hideM6" class="form-check-input" type="checkbox" value="" id="defaultCheck2">
					  <label class="form-check-label" for="defaultCheck2">
					    Hide M6
					  </label>
					</div>
					<div ngbDropdownItem>
					  <input (change)="levelFilterChanged()" [(ngModel)]="hideM7" class="form-check-input" type="checkbox" value="" id="defaultCheck3">
					  <label class="form-check-label" for="defaultCheck3">
					    Hide M7
					  </label>
					</div>
				</div>
			</div>


                  <div class="role-container">
                    <span [ngClass]="{'selected': selectedLane == 'TOP'}" class="role-option top">
                      <img (click)="selectLane('TOP')" src="/assets/roles/top.svg"/>
                    </span>
                    <span [ngClass]="{'selected': selectedLane == 'JUNGLE'}" class="role-option jg">
                      <img (click)="selectLane('JUNGLE')" src="/assets/roles/jg.svg"/>
                    </span>

                    <span [ngClass]="{'selected': selectedLane == 'MID'}" class="role-option mid">
                      <img (click)="selectLane('MID')" src="/assets/roles/mid.svg"/>
                    </span>
                    <span [ngClass]="{'selected': selectedLane == 'ADC'}" class="role-option bot">
                      <img (click)="selectLane('ADC')" src="/assets/roles/bot.svg"/>
                    </span>
                    <span [ngClass]="{'selected': selectedLane == 'SUPPORT'}" class="role-option sup">
                      <img (click)="selectLane('SUPPORT')" src="/assets/roles/sup.svg"/>
                    </span>
                  </div>



                  <div class="d-flex align-items-center">
										<div ngbDropdown class="mastery-filter d-inline-block">
											<button type="button" class="btn btn-light" id="dropdownBasic2" ngbDropdownToggle>
												Sort
											</button>
											<div ngbDropdownMenu aria-labelledby="dropdownBasic2">
												<button (click)="changeSort('level')" ngbDropdownItem>
													Level
												</button>
												<button (click)="changeSort('points')" ngbDropdownItem>
													Points
												</button>
												<button (click)="changeSort('alphabetically')" ngbDropdownItem>
													Alphabetically
												</button>
											</div>
										</div>
										<i  placement="start"  ngbTooltip="Show chests available" [ngClass]="{'selected': showChests}" (click)="chestClicked()" class="bi bi-inboxes-fill"></i>
									</div>

		</div>


		<div class="d-flex flex-wrap">
			<div *ngFor="let item of filteredData" [ngClass]="{'darken': item.chestGranted && showChests}" class="champion-item-container">
				<mastery-item [item]="item"></mastery-item>
			</div>
		</div>

	</div>
</div>


