.challenges-container {
	background: #0a0218eb;
    border-radius: 12px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 24px;
}

.champions-container {
    background: #0a0218eb;
    border-radius: 12px;    
    margin-top: 24px;
    padding-top: 12px;
    .champion-item-container {
        width: 13%;
        background: #8fa7ff75;
        margin-left: 1.1%;
        border-radius: 8px;
        text-align: center;
        margin-bottom: 14px;
        padding: 8px;
        position: relative;
        height: 308px;
    }
}

.filters-container {
    padding: 0 15px 20px;
    justify-content: space-between;
    align-items: center;

    .chests-earned {
        color: gold;
        display: flex;
        align-items: center;
        width: 137px;
        justify-content: space-between;
        img {
            width: 52px;
            margin: -8px 7px -8px -8px;
            filter: brightness(1.4);
        }
    }

    .mastery-filter {
        input {
            margin-right: 8px;
        }
    }
}

.filters-container.mobile-only {
    display: none;
}


.role-option {
    img {
        width: 26px;
        margin: 12px 12px -12px;
        border-width: 0 0 2px 0;
        border-style: solid;
        padding-bottom: 12px;
        cursor: pointer;
        border-color: transparent;
    }
}

.role-option:hover {
    filter: brightness(1.5);
    img {
        border-color: #ffffff54;
    }
}

.role-option.selected {
    img {
        border-color: #ffd700ba;
    }
}

.bi-inboxes-fill {
    margin-left: 24px;
    color: gold;
    font-size: 24px;
    opacity: .4;
    cursor: pointer;
    &:hover {
        opacity: .7;
    }
    &.selected {
        opacity: 1;
    }
}

.darken {
    filter: brightness(.5);
}

.user-section {
    width: 36%;
    justify-content: space-evenly;
    padding: 6px 0;
    align-items: center;
    .user-info {
        text-align: center;
        img {
            border-radius: 14px;
            border: 2px solid gold;
            width: 50px;
            margin-bottom: 4px;
        }
        h1 {
            color: white;
            font-size: 22px;
        }

        h6 {
            color: #b3b4d0;
            margin-bottom: 3px;
            font-size: 11px;

        }

        h5 {
            color: white;
            font-size: 11px;
        }


        .btn-info {
            padding: 4px;
            font-size: 10px;
        }


    }
}

.challenges-buttons {    
    display: flex;
    width: 63%;
    flex-wrap: wrap;
    align-items: center;
}

.user-stats {
    h6 {
        color: #b3b4d0;
        margin-bottom: 1px;
    }

    h5 {
        color: white;
        margin-bottom: 15px;
    }
    .upgrade-time {
        margin-bottom: 0;
    }
}
@media (max-width: 992px) {

}


@media (max-width: 720px) {

    .container-xxl {
        padding: 0;
        margin: 0;
    }

    .user-section {
        margin-bottom: 20px;
        .user-stats {
            zoom: 0.8;
        }
    }


    .challenges-container {
        flex-direction: column;
        margin: 0;
        border-radius: 0;
        .user-section {
            width: 100%;
        }
        .challenges-buttons{
            width: 100%;
            justify-content: normal;
        }
    }


    .champions-container {

        margin: 0;
        border-radius: 0;

        .champion-item-container {
            width: 24.5%;
            height: 300px;
            zoom: .6;
            margin: 1px;
            h4 {
                font-size: 17px;
            }
        }

    }


    .filters-container {
            zoom: .8;
            padding-bottom: 0;
            .mastery-filter {
                zoom: .8;
            }
            .role-container {
                display: none
            }
    }


    .filters-container.mobile-only {
        display: flex;
        justify-content: center;
        margin: 5px 0 12px;
            .role-container {
                display: block
            }

    }


}



.challenge-item {
    background: #8fa7ff75;
    padding: 4px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: 3px solid transparent;
    &:hover {
        background-color: #8fa7ffa6;
    }

    h4 {
        color: white;
        font-size: 11px;
        text-wrap: nowrap;
    }

    h6 {
        font-size: 17px;
    }

    h5 {
        color: #ffc966;
        font-size: 19px;
        margin-bottom: 0;
    }
}