<div *ngIf="!challengeLoading && !masteryLoading" class="container-xxl">
   <div class="challenges-container d-flex">
      <div class="user-section d-flex">
         <div class="user-info">
            <img src="https://ddragon.leagueoflegends.com/cdn/15.14.1/img/profileicon/{{profileIcon}}.png"/>
            <h1>{{activeProfileInfo.name}}#{{activeProfileInfo.tag}}</h1>
            <h6>Tracking Start Date</h6>
            <h5> {{activeProfileInfo.dateStarted | date:'shortDate'}} </h5>

            <div class="settings d-flex">
               <button (click)="restart()" class="btn btn-sm btn-info">Reset</button>


               <div  ngbTooltip="Show Mastery 7 challenges" triggers="hover hover" class="form-check form-switch">
                 <input style="cursor: pointer;" (change)="showM7ToggleChanged()"  [(ngModel)]="showM7Toggle" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault2">
                 <label class="form-check-label" for="flexSwitchCheckDefault2">M7</label>
               </div>


            </div>
         </div>
         <div *ngIf="catchemAllMode" class="user-stats catch-stats">
            <div>
               <h6>Champions Completed</h6>
               <h5>{{champsFinished}}/150</h5>
            </div>
            <div>
               <h6>Mastery Requirement</h6>
               <h5>{{top150Mastery.toLocaleString()}} / {{(catchNextUpgrade * 150).toLocaleString()}}</h5>
            </div>
            <div>
               <h6>Completion Percentage</h6>
               <h5>{{(top150Mastery / (catchNextUpgrade * 150)) | percent: '1.2-2' }}</h5>
            </div>
            <div>
               <h6>Catch'em All Upgrade Time</h6>
               <h5 class="upgrade-time">{{upgradeTimeCatch}}</h5>
            </div>
         </div>
         <div *ngIf="!catchemAllMode"class="user-stats">
            <div>
               <h6>Total Mastery Points</h6>
               <h5>{{totalPoints.toLocaleString()}}</h5>
            </div>
            <div>
               <h6>Average Mastery Points / Day</h6>
               <h5>{{avgPointsPerDay | number: '1.0-0'}}</h5>
            </div>
            <div>
               <h6>Master The Enemy Upgrade Time</h6>
               <h5 class="upgrade-time">{{upgradeTimeEnemy}}</h5>
            </div>
         </div>

      </div>
      <div *ngIf="!showM7Toggle" class="challenges-buttons">
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterYourself"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.catchemAll"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterTank"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterMarksman"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterFighter"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterEnemy"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.oneTrick"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterMage"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterAssassin"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [userChallengeData]="userChallengeData.masterSupport"></challenge-item>
      </div>
      <div *ngIf="showM7Toggle" class="challenges-buttons show-m7">
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterEnemy"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterTank"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterMarksman"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterFighter"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterMage"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterAssassin"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterSupport"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterEnemyLegacy"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterTankLegacy"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterMarksmanLegacy"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterFighterLegacy"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterMageLegacy"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterAssassinLegacy"></challenge-item>
         <challenge-item (challengeClickedEvent)="challengeClicked($event)" [hideTooltip]="true" [userChallengeData]="userChallengeData.masterSupportLegacy"></challenge-item>
      </div>
   </div>
   <div class="champions-container">
      <div class="filters-container d-flex">
         <div class="d-flex align-items-center">
            <div ngbDropdown [autoClose]="'outside'" class="mastery-filter d-inline-block">
               <button type="button" class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>
               Mastery Level
               </button>
               <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <div ngbDropdownItem>
                     <input (change)="levelFilterChanged()" [(ngModel)]="hideM5" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                     <label class="form-check-label" for="defaultCheck1">
                     Hide M5
                     </label>
                  </div>
                  <div ngbDropdownItem>
                     <input (change)="levelFilterChanged()" [(ngModel)]="hideM6" class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                     <label class="form-check-label" for="defaultCheck2">
                     Hide M6
                     </label>
                  </div>
                  <div ngbDropdownItem>
                     <input (change)="levelFilterChanged()" [(ngModel)]="hideM7" class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                     <label class="form-check-label" for="defaultCheck3">
                     Hide M7
                     </label>
                  </div>
                  <div ngbDropdownItem>
                     <input (change)="levelFilterChanged()" [(ngModel)]="hideM8" class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                     <label class="form-check-label" for="defaultCheck4">
                     Hide M8
                     </label>
                  </div>
                  <div ngbDropdownItem>
                     <input (change)="levelFilterChanged()" [(ngModel)]="hideM9" class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                     <label class="form-check-label" for="defaultCheck5">
                     Hide M9
                     </label>
                  </div>
                  <div ngbDropdownItem>
                     <input (change)="levelFilterChanged()" [(ngModel)]="hideM10" class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                     <label class="form-check-label" for="defaultCheck6">
                     Hide M10+
                     </label>
                  </div>
               </div>
            </div>

            <div class="input-container position-relative">
               <i class="bi bi-search"></i>
               <input [(ngModel)]="inputText" type="text" class="form-control" placeholder="Find Champion">
            </div>

            <div triggers="hover hover" ngbTooltip="Move starred champions to the top" style="margin-left: 12px;" class="form-check form-switch">
              <input style="cursor: pointer;" (change)="starToggleChanged()"  [(ngModel)]="starToggle" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault"><i style="color: gold;" class="bi bi-star-fill"></i></label>
            </div>

         </div>
         <div class="role-container">
            <span (click)="selectLane('TOP')" [ngClass]="{'selected': selectedLane == 'TOP'}" class="role-option top">
               <img src="/assets/roles/top.svg"/>
            </span>
            <span (click)="selectLane('JUNGLE')" [ngClass]="{'selected': selectedLane == 'JUNGLE'}" class="role-option jg">
               <img src="/assets/roles/jg.svg"/>
            </span>
            <span (click)="selectLane('MID')" [ngClass]="{'selected': selectedLane == 'MID'}" class="role-option mid">
               <img src="/assets/roles/mid.svg"/>
            </span>
            <span (click)="selectLane('ADC')" [ngClass]="{'selected': selectedLane == 'ADC'}" class="role-option bot">
               <img  src="/assets/roles/bot.svg"/>
            </span>
            <span  (click)="selectLane('SUPPORT')"  [ngClass]="{'selected': selectedLane == 'SUPPORT'}" class="role-option sup">
               <img src="/assets/roles/sup.svg"/>
            </span>
         </div>
         <div class="d-flex align-items-center">


            <div ngbDropdown class="me-2 mastery-filter d-inline-block">
               <button type="button" class="btn btn-light" id="globeFilter" ngbDropdownToggle>
                  @if (!globesFilter) {
                    All Regions
                  } @else {
                    {{globesFilter}}
                  }
               </button>
               <div ngbDropdownMenu aria-labelledby="globeFilter">
                    <button (click)="changeGlobe(null)" ngbDropdownItem>
                      All Regions
                    </button>
                  @for (globe of globes; track globe) {
                    <button (click)="changeGlobe(globe)" ngbDropdownItem>
                      {{ globe }}
                    </button>
                  }
               </div>
            </div>


            <div ngbDropdown class="mastery-filter d-inline-block">
               	<button type="button" class="btn btn-light" id="dropdownBasic2" ngbDropdownToggle>
									@if (sortMethod == 'level-down') {
									  Sort: Level <i class="bi bi-arrow-down-short"></i>
									} @else if (sortMethod == 'level-up') {
									  Sort: Level <i class="bi bi-arrow-up-short"></i>
									} @else if (sortMethod == 'points-down') {
									  Sort: Points <i class="bi bi-arrow-down-short"></i>
									} @else if (sortMethod == 'points-up') {
									  Sort: Points <i class="bi bi-arrow-up-short"></i>
									} @else if (sortMethod == 'alphabetically-down') {
									  Sort: Alphabetically <i class="bi bi-arrow-down-short"></i>
									} @else if (sortMethod == 'alphabetically-up') {
									  Sort: Alphabetically <i class="bi bi-arrow-up-short"></i>
									} @else if (sortMethod == 'lastplayed-down') {
									  Sort: Last Played <i class="bi bi-arrow-down-short"></i>
									} @else if (sortMethod == 'lastplayed-up') {
									  Sort: Last Played <i class="bi bi-arrow-up-short"></i>
									} @else if (sortMethod == 'milestones-down') {
									  Sort: Milestones<i class="bi bi-arrow-down-short"></i>
									} @else if (sortMethod == 'milestones-up') {
									  Sort: Milestones <i class="milestones bi-arrow-up-short"></i>
									} @else if (sortMethod == 'grades-down') {
									  Sort: Grades<i class="bi bi-arrow-down-short"></i>
									} @else if (sortMethod == 'grades-up') {
									  Sort: Grades<i class="bi bi-arrow-up-short"></i>
									} @else if (sortMethod == 'smart') {
                             Sort: Smart
                           }
								</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">

                  <button (click)="changeSort('smart')" ngbDropdownItem>
                  Smart Sort
                  </button>

                  <button (click)="changeSort('level-down')" ngbDropdownItem>
                  Level <i class="bi bi-arrow-down-short"></i>
                  </button>
                  <button (click)="changeSort('level-up')" ngbDropdownItem>
                  Level <i class="bi bi-arrow-up-short"></i>
                  </button>
                  <button (click)="changeSort('milestones-down')" ngbDropdownItem>
                  Milestones  <i class="bi bi-arrow-down-short"></i>
                  </button>
                  <button (click)="changeSort('milestones-up')" ngbDropdownItem>
                  Milestones  <i class="bi bi-arrow-up-short"></i>
                  </button>

                  <button (click)="changeSort('grades-down')" ngbDropdownItem>
                  Grades  <i class="bi bi-arrow-down-short"></i>
                  </button>


                  <button (click)="changeSort('grades-up')" ngbDropdownItem>
                  Grades  <i class="bi bi-arrow-up-short"></i>
                  </button>


                  <button (click)="changeSort('points-down')" ngbDropdownItem>
                  Points <i class="bi bi-arrow-down-short"></i>
                  </button>
                  <button (click)="changeSort('points-up')" ngbDropdownItem>
                  Points <i class="bi bi-arrow-up-short"></i>
                  </button>
                  <button (click)="changeSort('alphabetically-down')" ngbDropdownItem>
                  Alphabetically  <i class="bi bi-arrow-down-short"></i>
                  </button>
                  <button (click)="changeSort('alphabetically-up')" ngbDropdownItem>
                  Alphabetically  <i class="bi bi-arrow-up-short"></i>
                  </button>
                  <button (click)="changeSort('lastplayed-down')" ngbDropdownItem>
                  Last Played  <i class="bi bi-arrow-down-short"></i>
                  </button>
                  <button (click)="changeSort('lastplayed-up')" ngbDropdownItem>
                  Last Played  <i class="bi bi-arrow-up-short"></i>
                  </button>
               </div>
            </div>
         </div>
      </div>

      <div class="filters-container mobile-only">
         <div class="role-container">
            <span (click)="selectLane('TOP')" [ngClass]="{'selected': selectedLane == 'TOP'}" class="role-option top">
               <img src="/assets/roles/top.svg"/>
            </span>
            <span  (click)="selectLane('JUNGLE')" [ngClass]="{'selected': selectedLane == 'JUNGLE'}" class="role-option jg">
               <img src="/assets/roles/jg.svg"/>
            </span>
            <span (click)="selectLane('MID')" [ngClass]="{'selected': selectedLane == 'MID'}" class="role-option mid">
               <img src="/assets/roles/mid.svg"/>
            </span>
            <span  (click)="selectLane('ADC')" [ngClass]="{'selected': selectedLane == 'ADC'}" class="role-option bot">
               <img src="/assets/roles/bot.svg"/>
            </span>
            <span  (click)="selectLane('SUPPORT')" [ngClass]="{'selected': selectedLane == 'SUPPORT'}" class="role-option sup">
               <img src="/assets/roles/sup.svg"/>
            </span>
         </div>
      </div>

      <div class="d-flex flex-wrap">
         <div *ngFor="let item of filteredData | championFilter:inputText;" [ngClass]="{'focus': item.focus ,'darken': item.chestGranted && showChests || (catchemAllMode && item.index > 149)}" class="champion-item-container">
         <mastery-item (championClickedEvent)="championClicked($event)" [item]="item" [catchemAllMode]="catchemAllMode" [lastPlayed]="sortMethod == 'lastplayed-up' || sortMethod == 'lastplayed-down'" [catchNextUpgrade]="catchNextUpgrade"></mastery-item>
      </div>
   </div>
</div>
</div>